<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css"/>
  </head>
  <body>
    <h1 class="text-center">Formulario para carga y eliminacion de productos</h1>
    <div class="text-center">
    <form id="formId" class="text-center d-inline-flex flex-column align-items-center">
      <p>Complete los siguientes campos para cargar un producto</p>
      <input type="text" id="title"  class="mb-2" placeholder="Title" />
      <input type="text" id="desc"  class="mb-2" placeholder="Description" />
      <input type="number" id="price"  class="mb-2" placeholder="Price" />
      <input type="text" id="img"  class="mb-2" placeholder="URL de Imagen" />
      <input type="text" id="code"  class="mb-2" placeholder="Code" />
      <input type="number" id="stock"  class="mb-2" placeholder="Stock" />
      <input type="text" id="cat" class="mb-2"  placeholder="Category" />
      <Button class="btn btn-primary"  class="mb-2" type="submit">Enviar</Button>
    </form>
  </div>
    <h4 id="error" class="text-center text-danger"></h4>
    <h4 id="errorCode" class="text-center text-danger"></h4>
    <h2 class="text-center">Lista de productos en tiempo real:</h2>
    <div class="text-center">
    <Button id="deleteAll" class="btn btn-secondary mb-2">Eliminar todos los productos</button>
    </div>
    <div >
      <table  class="table table-hover">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Code</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
        <tbody id="products">
        </tbody>
      </table>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"
      integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/js/realTime.js"></script>
  </body>
</html>