<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario para carga y eliminacion de productos</h1>
<form id="formId">
    <p>Complete los siguientes campos para cargar un producto</p>
    <input type="text" id="title""placeholder="Title">
    <input type="number" id="id" placeholder="ID">
    <input type="number" id="price"  placeholder="Price">
    <button type="submit">Enviar</button>
</form>
<span id="error"></span>
<h2>Lista de productos en tiempo real:</h2>
<div id="products"></div>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"
      integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/realTime.js"></script>
</body>
</html>

